.hero{
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 500;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-bottom: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;

}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px){
 .hero{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: auto;
    text-align: center;
    
 
 }
 .hero-left{
    padding-left: 0;
    align-items: center;
 }
 .hero-left h2{
    font-size: 14px;
 }
 .hero-left p{
    font-size: 28px;
    margin: 5px 0;
 }
 .hero-hand-icon img {
     width: 35px;
 }
 .hero-latest-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 160px;
    height: 45px;
    font-size: 14px;
    border-radius: 25px;
 }
 .hero-right img {
    width: 220px;
    margin: 20px ;
 }
}